/*Colores*/
$dark-green-title: #025157;
$dark-green-text: #135359;
$white: #ffffff;

$dark-gray: #4a4a4a;
$light-gray: #979797;
$green: #67b54b;
$light-green: #96d178;


/** fuentes */
$font-title: "Alegreya", serif;
$font-normal-text: 'Open Sans', sans-serif;

%base-title {
    font-family: $font-title;
    color: $dark-green-text;
}

%base-form-items {
    font-family: $font-normal-text;
    font-size: 20px;
    font-weight: 400;
    height: 55px;
}

%base-form {
    button {
        background-color: $dark-green-title;
        border-style: none;
        border-bottom-right-radius: 5px;
        border-top-right-radius: 5px;
        color: $white;
        padding: 0 20px;
        margin-left: -10px;
    }

    input {
        padding-left: 20px;
        padding-right: 40px;
    }
}
