@use './global' as *;

.try-Matcha {
    background-color: $light-green;
    padding-top: 3rem;
    padding-bottom: 1rem;
    text-align: center;
    margin: auto;

    h2{
        @extend %base-title;
        font-size: 60px;
    }

    form > *{
        @extend %base-form-items;
    }

    form {
        padding-top: 1rem;
        @extend %base-form;
    }

    p {
        color: $white;
        font-family: $font-normal-text;
        font-size: 14px;
        margin-top: 0.5rem;
    }
}

.try-Matcha-box {
    background-color: #245157;
    border-radius: 5px;
    display: flex;
    margin: 2rem auto;
    padding: 3rem;
    width: 85%;

    .column-1 {
        width: 40%;

        h3 {
            color: $white;
            font-family: $font-title;
            font-size: 34px;
            text-align: left;
            margin-right: 20%;
        }

        p {
            color: $white;
            font-family: $font-normal-text;
            font-size: 17px;

            a {
                color: $green;
            }
        }
    }

    .column-2 {
        width: 50%;
        margin: auto;

        form > * {
            @extend %base-form-items;
        }

        form {
            @extend %base-form;

            button {
                background-color: $green;
            }
        }

        p {
            color: #b3cbcd;
            font-family: $font-normal-text;
            font-size: 14px;
            margin-right: 40%;
            margin-top: 1rem;
        }
    }



}